[Desktop Entry]
Encoding=UTF-8
Name=Parabola
Comment=Parabola P2P Cryptocurrency
Comment[fr]=Parabola, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Parabola, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/parabola-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/parabola128.png
MimeType=x-scheme-handler/parabola;
Categories=Office;
