#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_parabola
#build/parabolad::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_parabola)

DEB_INSTALL_EXAMPLES_parabolad += debian/examples/*
DEB_INSTALL_MANPAGES_parabolad += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix parabolad
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f parabola-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake parabola-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_parabola
	src/test_parabola

# Ensure wrapper is set executable
binary-post-install/parabolad:
	chmod +x $(cdbs_curdestdir)usr/bin/parabolad
binary-post-install/parabola-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/parabola-qt
